*{
    padding: 0%;
    margin: 0%;
    font-family: "Pixelify sans";
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.93);
    background-image: url(/imgs/ceuEstrelado.png);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fase{
    z-index: 4;
    position: absolute;
    color: white;
    font-size: 10vh;
    animation: nomeDaFase 2s linear;
}
@keyframes nomeDaFase {
    from{
        color: white;
    }
    to{
        color: transparent;
    }
}
#NaveMain{
    width: 80%;
}
img{
    position: absolute;
    bottom: 0;
    height: 13vh;
}
#projetil{
    position: absolute;
}
.invisivel{
    display: none;
}
#hitboxMain{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin: 4%;
    height: 99%;
    width: 15vh;
}
@keyframes animacao{
    from{
        bottom: 0%;
    }
    to{
        bottom: 100%;
    }
}